HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/mainsrc/testsrc/mainsrc/testsrc/mainsrc/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.cursorsrc/main/resources/digi-wave-57b8b-firebase-adminsdk-fbsvc-e212eef9c9.json
