apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-sallahli-pvc
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: do-block-storage

