apiVersion: v1
data:
  .dockerconfigjson: eyANCiAgImF1dGhzIjogew0KICAgICJnaGNyLmlvIjogew0KICAgICAgInVzZXJuYW1lIjogIm1vaGFtZWQzNzQxIiwgDQogICAgICAicGFzc3dvcmQiOiAiZ2hwX3FibVVKbWlRbE81ZVNiY1BoODd5NDEwSUFERHpVbDRGWnk2eSINCiAgICB9DQogIH0NCn0NCg==
kind: Secret
metadata:
  name: regcred
  namespace: default
type: kubernetes.io/dockerconfigjson
