apiVersion: apps/v1
kind: Deployment
metadata:
  name: sallahli-backend
  labels:
    app: sallahli-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sallahli-backend
  template:
    metadata:
      labels:
        app: sallahli-backend
    spec:
      imagePullSecrets:
      - name: regcred
      containers:
      - name: sallahli-backend
        image: ghcr.io/mohamed3741/pro-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /management/health
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 15
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 8

        livenessProbe:
          httpGet:
            path: /management/health/liveness
            port: 8080
          initialDelaySeconds: 90
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3

        env:
          - name: SERVER_PORT
            value: "8080"

          - name: MANAGEMENT_ENDPOINT_HEALTH_PROBES_ENABLED
            value: "true"

---

apiVersion: v1
kind: Service
metadata:
  name: sallahli-backend
  labels:
    app: sallahli-backend
spec:
  type: LoadBalancer
  ports:
    - name: sallahli-backend
      protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    app: sallahli-backend

